<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<p>Hello <%=@user[:name]%> ,</p><br>
<p>The payment is successfull and the plan has been purchased</p><br>
<p>Type of Plan: <strong><%=@user[:subtype]%></strong></p>
<p>Slots available: <strong><%=@user[:slotsleft]%></strong></p>
<p>Greetings from</p><br>
<p>Collegeadviors</p>
</body>
</html>