<p>Hi <%=@user[:name]%>,</p>
<p>You have requested a password change please click on the link below to reset password</p><br>
<p><a href="http://collegeadvisors.in/user/forgotpassword/<%=@user[:id]%>/<%=@user[:token]%>">Click here to change password</a></p>
<p>If you havent started a password change request please write us back</p>

<br>
<br>
<p>Greetings</p>
<p>Collegeadvisors</p>