<p>Hi <%=@data[:name]%>,</p>
<br>
<p>The admin has unbooked your slot time due to some technical reasons. The slot has been restored to your account and could be used to take any other slot.</p><br>
<p>Below is unbooked slot information</p>
<p>slot: <%=@data[:slot]%></p>
<p>Greetings</p>
<p>Collegeadvisors</p>