<div class="space-header"></div>
<div class="adindcover">
<a href="/admin/showduration"><div class="adindchild"><p>Change Consultation duration</p></div></a>
<a href="/admin/showprice"><div class="adindchild"><p>Change price of consultation</p></div></a>
<a href="/admin/showusers"><div class="adindchild"><p>Show users</p></div></a>
<a href="/admin/showslots"><div class="adindchild"><p>View / Add Slots</p></div></a>
<a href="/admin/unbookslot"><div class="adindchild"><p>Unbook a Slot</p></div></a>
<a href="/admin/deleteslot"><div class="adindchild"><p>Delete a Slot</p></div></a>
<a href="/admin/changelink"><div class="adindchild"><p>Change Meeting Link</p></div></a>
</div>
