<div class="space-header"></div>
<div style="min-height: 80vh">
<h5 style="margin-top: 10px;
    text-align: center;
    font-size: 25px;">About Us</h5>
<p style="padding: 20px">CollegeAdvisors lists more than 25000 Colleges in India. We provide you information on different courses, facilities, faculties and much much more. We are on a mission to empower students with the latest information regarding their career choices and give them career counselling. We also provide counseling services for students who are interested to join Engineering, MBA, Medicine, Arts, Commerce, Design, Architecture. Our Academic Advisors have about 12yrs of experience in the Education industry and they have successfully advised 1000+ students who are extremely satisfied and happy with our services. Our Advisors play the role of Coach, Consultant and Cheerleaders for the students in rightly guiding them to join their dream institutions. <br>

We provide students with dedicated space on our platform with the Advisor to know more about the top institutions as per their interests and also get counselled on how to get an admit into them. CollegeAdvisors was formed to tackle misinformation and guiding the students into joining the right universities and courses. We also provide ranking of institutions based on geographies, courses and other parameters. <br>


We are also coming up with new exciting features in the coming weeks. Tune in for more updates and keep supporting our community. <br>
</p>
</div>
<footer class="footer-area section-gap">
<div class="container">
<div class="footer-bottom row align-items-center">
<p class="footer-text m-0 col-lg-8 col-md-12" style="margin-bottom: 20px !important">Please write to us for any query at infocollegeadvisors@gmail.com</p><br>
<p class="footer-text m-0 col-lg-8 col-md-12" style="margin-bottom: 20px !important"><a href="/home/tnc">Terms And Conditions</a></p>
<p class="footer-text m-0 col-lg-8 col-md-12" style="margin-bottom: 20px !important"><a href="/home/privacy">Privacy Policy</a></p>
<p class="footer-text m-0 col-lg-8 col-md-12">
Copyright© 2020 All rights reserved | CollegeAdvisors <i class="fa fa-heart-o" aria-hidden="true"></i> 
</p>
<div class="col-lg-4 col-md-12 footer-social">

</div>
</div>
</div>
</footer>