<div class="space-header"></div>
<div class="slotsuccess">
	<div class="notesuccess">
	<p style="color:black">Here are the details of your booked slot</p>
	<p>Day: <strong><%=@slotinfo.slot.strftime("%A")%></strong></p>
	<p>Time: <strong><%=@slotinfo.slot.strftime("%H:%M")%></strong></p>
	<p>Date: <strong><%=@slotinfo.slot.strftime("%d-%m-%Y")%></strong></p>
	<p style="color:black">The meeting link has been sent to your email. If any problem persists please contact us.</p>
</div>
</div>