<div class="space-header"></div>
<div style="background-color: #f1f9ff;min-height: 80vh;">
	<%if @adminslots.length==0%>
	<div style="display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;">No Slots Have Been Booked</div>
	<%end%>
	<%@adminslots.each do |f|%>
	<div style="padding: 25px;
    margin: 25px;
    background-color: white;">
		<p>Slot Id: <strong><%=f.id%></strong></p>
		<div style="    display: flex;
    justify-content: space-between;">
		<p>Slot Time: <strong><%=f.slot.strftime("%H:%M")%></strong></p>
		<p>Slot Day: <strong><%=f.slot.strftime("%A")%></strong></p>
		<p>Slot Date: <strong><%=f.slot.strftime("%d/%m/%Y")%></strong></p>
	</div>
	</div>
	<%end%>
</div>
<footer class="footer-area section-gap">
<div class="container">
<div class="footer-bottom row align-items-center">
<p class="footer-text m-0 col-lg-8 col-md-12" style="margin-bottom: 20px !important">Please write to us for any query at infocollegeadvisors@gmail.com</p><br>
<p class="footer-text m-0 col-lg-8 col-md-12" style="margin-bottom: 20px !important"><a href="/home/tnc">Terms And Conditions</a></p>
<p class="footer-text m-0 col-lg-8 col-md-12" style="margin-bottom: 20px !important"><a href="/home/privacy">Privacy Policy</a></p>
<p class="footer-text m-0 col-lg-8 col-md-12">
Copyright© 2020 All rights reserved | CollegeAdvisors <i class="fa fa-heart-o" aria-hidden="true"></i> 
</p>
<div class="col-lg-4 col-md-12 footer-social">

</div>
</div>
</div>
</footer>