// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/
.adindchild{
	    width: 30%;
    padding: 50px;
    box-shadow: 1px 1px 23px 1px grey;
    margin: 15px;
    border-radius: 10px;
    background-color: white;
}
.adindcover{
	    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    min-width:100vh;
    background-color:#f1f9ff;
    padding:100px;
    a{
    display: contents;
    }
}
.flxide{
    position: fixed !important;
    width: 100vw;
}